/* TransitionMe.css v1.0 made by KevSlashNull */

.transitionme {}

.transitionme .transitionme-ease-in-out {
    transition-timing-function: ease-in-out;
}

.transitionme .transitionme-ease-out {
    transition-timing-function: ease-out;
}

.transitionme .transitionme-ease-in {
    transition-timing-function: ease-in;
}

.transitionme .transitionme-linear {
    transition-timing-function: linear;
}

.transitionme .transitionme-duration-0.0 {
    transition-duration: 0_0s;
}

.transitionme .transitionme-duration-0.25 {
    transition-duration: 0_25s;
}

.transitionme .transitionme-duration-0.5 {
    transition-duration: 0_5s;
}

.transitionme .transitionme-duration-0.75 {
    transition-duration: 0_75s;
}

.transitionme .transitionme-duration-1.0 {
    transition-duration: 1_0s;
}

.transitionme .transitionme-duration-1.25 {
    transition-duration: 1_25s;
}

.transitionme .transitionme-duration-1.5 {
    transition-duration: 1_5s;
}

.transitionme .transitionme-duration-1.75 {
    transition-duration: 1_75s;
}

.transitionme .transitionme-duration-2.0 {
    transition-duration: 2_0s;
}

.transitionme .transitionme-duration-2.25 {
    transition-duration: 2_25s;
}

.transitionme .transitionme-duration-2.5 {
    transition-duration: 2_5s;
}

.transitionme .transitionme-duration-2.75 {
    transition-duration: 2_75s;
}

.transitionme .transitionme-duration-3.0 {
    transition-duration: 3_0s;
}

.transitionme .transitionme-duration-3.25 {
    transition-duration: 3_25s;
}

.transitionme .transitionme-duration-3.5 {
    transition-duration: 3_5s;
}

.transitionme .transitionme-duration-3.75 {
    transition-duration: 3_75s;
}

.transitionme .transitionme-duration-4.0 {
    transition-duration: 4_0s;
}

.transitionme .transitionme-duration-4.25 {
    transition-duration: 4_25s;
}

.transitionme .transitionme-duration-4.5 {
    transition-duration: 4_5s;
}

.transitionme .transitionme-duration-4.75 {
    transition-duration: 4_75s;
}

.transitionme .transitionme-duration-5.0 {
    transition-duration: 5_0s;
}

.transitionme .transitionme-duration-5.25 {
    transition-duration: 5_25s;
}

.transitionme .transitionme-duration-5.5 {
    transition-duration: 5_5s;
}

.transitionme .transitionme-duration-5.75 {
    transition-duration: 5_75s;
}

.transitionme .transitionme-duration-6.0 {
    transition-duration: 6_0s;
}

.transitionme .transitionme-duration-6.25 {
    transition-duration: 6_25s;
}

.transitionme .transitionme-duration-6.5 {
    transition-duration: 6_5s;
}

.transitionme .transitionme-duration-6.75 {
    transition-duration: 6_75s;
}

.transitionme .transitionme-duration-7.0 {
    transition-duration: 7_0s;
}

.transitionme .transitionme-duration-7.25 {
    transition-duration: 7_25s;
}

.transitionme .transitionme-duration-7.5 {
    transition-duration: 7_5s;
}

.transitionme .transitionme-duration-7.75 {
    transition-duration: 7_75s;
}

.transitionme .transitionme-duration-8.0 {
    transition-duration: 8_0s;
}

.transitionme .transitionme-duration-8.25 {
    transition-duration: 8_25s;
}

.transitionme .transitionme-duration-8.5 {
    transition-duration: 8_5s;
}

.transitionme .transitionme-duration-8.75 {
    transition-duration: 8_75s;
}

.transitionme .transitionme-duration-9.0 {
    transition-duration: 9_0s;
}

.transitionme .transitionme-duration-9.25 {
    transition-duration: 9_25s;
}

.transitionme .transitionme-duration-9.5 {
    transition-duration: 9_5s;
}

.transitionme .transitionme-duration-9.75 {
    transition-duration: 9_75s;
}

.transitionme .transitionme-delay-0_0 {
    transition-delay: 0.0s;
}

.transitionme .transitionme-delay-0_25 {
    transition-delay: 0.25s;
}

.transitionme .transitionme-delay-0_5 {
    transition-delay: 0.5s;
}

.transitionme .transitionme-delay-0_75 {
    transition-delay: 0.75s;
}

.transitionme .transitionme-delay-1_0 {
    transition-delay: 1.0s;
}

.transitionme .transitionme-delay-1_25 {
    transition-delay: 1.25s;
}

.transitionme .transitionme-delay-1_5 {
    transition-delay: 1.5s;
}

.transitionme .transitionme-delay-1_75 {
    transition-delay: 1.75s;
}

.transitionme .transitionme-delay-2_0 {
    transition-delay: 2.0s;
}

.transitionme .transitionme-delay-2_25 {
    transition-delay: 2.25s;
}

.transitionme .transitionme-delay-2_5 {
    transition-delay: 2.5s;
}

.transitionme .transitionme-delay-2_75 {
    transition-delay: 2.75s;
}

.transitionme .transitionme-delay-3_0 {
    transition-delay: 3.0s;
}

.transitionme .transitionme-delay-3_25 {
    transition-delay: 3.25s;
}

.transitionme .transitionme-delay-3_5 {
    transition-delay: 3.5s;
}

.transitionme .transitionme-delay-3_75 {
    transition-delay: 3.75s;
}

.transitionme .transitionme-delay-4_0 {
    transition-delay: 4.0s;
}

.transitionme .transitionme-delay-4_25 {
    transition-delay: 4.25s;
}

.transitionme .transitionme-delay-4_5 {
    transition-delay: 4.5s;
}

.transitionme .transitionme-delay-4_75 {
    transition-delay: 4.75s;
}

.transitionme .transitionme-delay-5_0 {
    transition-delay: 5.0s;
}

.transitionme .transitionme-delay-5_25 {
    transition-delay: 5.25s;
}

.transitionme .transitionme-delay-5_5 {
    transition-delay: 5.5s;
}

.transitionme .transitionme-delay-5_75 {
    transition-delay: 5.75s;
}

.transitionme .transitionme-delay-6_0 {
    transition-delay: 6.0s;
}

.transitionme .transitionme-delay-6_25 {
    transition-delay: 6.25s;
}

.transitionme .transitionme-delay-6_5 {
    transition-delay: 6.5s;
}

.transitionme .transitionme-delay-6_75 {
    transition-delay: 6.75s;
}

.transitionme .transitionme-delay-7_0 {
    transition-delay: 7.0s;
}

.transitionme .transitionme-delay-7_25 {
    transition-delay: 7.25s;
}

.transitionme .transitionme-delay-7_5 {
    transition-delay: 7.5s;
}

.transitionme .transitionme-delay-7_75 {
    transition-delay: 7.75s;
}

.transitionme .transitionme-delay-8_0 {
    transition-delay: 8.0s;
}

.transitionme .transitionme-delay-8_25 {
    transition-delay: 8.25s;
}

.transitionme .transitionme-delay-8_5 {
    transition-delay: 8.5s;
}

.transitionme .transitionme-delay-8_75 {
    transition-delay: 8.75s;
}

.transitionme .transitionme-delay-9_0 {
    transition-delay: 9.0s;
}

.transitionme .transitionme-delay-9_25 {
    transition-delay: 9.25s;
}

.transitionme .transitionme-delay-9_5 {
    transition-delay: 9.5s;
}

.transitionme .transitionme-delay-9_75 {
    transition-delay: 9.75s;
}

.transitionme .transitionme-all {
    transition-property: all;
}

.transitionme .transitionme-color {
    transition-property: color;
}

.transitionme .transitionme-font-size {
    transition-property: font-size;
}

.transitionme .transitionme-font-size-adjust {
    transition-property: font-size-adjust;
}

.transitionme .transitionme-font-stretch {
    transition-property: font-stretch;
}

.transitionme .transitionme-font-weight {
    transition-property: font-weight;
}

.transitionme .transitionme-letter-spacing {
    transition-property: letter-spacing;
}

.transitionme .transitionme-line-height {
    transition-property: line-height;
}

.transitionme .transitionme-max-lines {
    transition-property: max-lines;
}

.transitionme .transitionme-text-decoration-color {
    transition-property: text-decoration-color;
}

.transitionme .transitionme-text-emphasis-color {
    transition-property: text-emphasis-color;
}

.transitionme .transitionme-text-indent {
    transition-property: text-indent;
}

.transitionme .transitionme-text-shadow {
    transition-property: text-shadow;
}

.transitionme .transitionme-text-size-adjust {
    transition-property: text-size-adjust;
}

.transitionme .transitionme-vertical-align {
    transition-property: vertical-align;
}

.transitionme .transitionme-word-spacing {
    transition-property: word-spacing;
}

.transitionme .transitionme-background-color {
    transition-property: background-color;
}

.transitionme .transitionme-background-image {
    transition-property: background-image;
}

.transitionme .transitionme-background-position {
    transition-property: background-position;
}

.transitionme .transitionme-background-size {
    transition-property: background-size;
}

.transitionme .transitionme-border-top-color {
    transition-property: border-top-color;
}

.transitionme .transitionme-border-top-right-radius {
    transition-property: border-top-right-radius;
}

.transitionme .transitionme-border-spacing {
    transition-property: border-spacing;
}

.transitionme .transitionme-border-top-width {
    transition-property: border-top-width;
}

.transitionme .transitionme-box-shadow {
    transition-property: box-shadow;
}

.transitionme .transitionme-clip {
    transition-property: clip;
}

.transitionme .transitionme-height {
    transition-property: height;
}

.transitionme .transitionme-min-height {
    transition-property: min-height;
}

.transitionme .transitionme-max-height {
    transition-property: max-height;
}

.transitionme .transitionme-margin-top {
    transition-property: margin-top;
}

.transitionme .transitionme-opacity {
    transition-property: opacity;
}

.transitionme .transitionme-outline-color {
    transition-property: outline-color;
}

.transitionme .transitionme-outline-offset {
    transition-property: outline-offset;
}

.transitionme .transitionme-outline-width {
    transition-property: outline-width;
}

.transitionme .transitionme-padding-top {
    transition-property: padding-top;
}

.transitionme .transitionme-width {
    transition-property: width;
}

.transitionme .transitionme-min-width {
    transition-property: min-width;
}

.transitionme .transitionme-max-width {
    transition-property: max-width;
}

.transitionme .transitionme-top {
    transition-property: top;
}

.transitionme .transitionme-right {
    transition-property: right;
}

.transitionme .transitionme-bottom {
    transition-property: bottom;
}

.transitionme .transitionme-left {
    transition-property: left;
}

.transitionme .transitionme-offset-before {
    transition-property: offset-before;
}

.transitionme .transitionme-offset-end {
    transition-property: offset-end;
}

.transitionme .transitionme-offset-after {
    transition-property: offset-after;
}

.transitionme .transitionme-offset-start {
    transition-property: offset-start;
}

.transitionme .transitionme-visibility {
    transition-property: visibility;
}

.transitionme .transitionme-z-index {
    transition-property: z-index;
}

.transitionme .transitionme-zoom {
    transition-property: zoom;
}

.transitionme .transitionme-column-count {
    transition-property: column-count;
}

.transitionme .transitionme-column-gap {
    transition-property: column-gap;
}

.transitionme .transitionme-column-rule-color {
    transition-property: column-rule-color;
}

.transitionme .transitionme-column-rule-width {
    transition-property: column-rule-width;
}

.transitionme .transitionme-column-width {
    transition-property: column-width;
}

.transitionme .transitionme-flex-grow {
    transition-property: flex-grow;
}

.transitionme .transitionme-flex-shrink {
    transition-property: flex-shrink;
}

.transitionme .transitionme-flex-basis {
    transition-property: flex-basis;
}

.transitionme .transitionme-order {
    transition-property: order;
}

.transitionme .transitionme-perspective {
    transition-property: perspective;
}

.transitionme .transitionme-perspective-origin {
    transition-property: perspective-origin;
}

.transitionme .transitionme-transform {
    transition-property: transform;
}

.transitionme .transitionme-transform-origin {
    transition-property: transform-origin;
}

.transitionme .transitionme-fill {
    transition-property: fill;
}

.transitionme .transitionme-fill-opacity {
    transition-property: fill-opacity;
}

.transitionme .transitionme-flood-color {
    transition-property: flood-color;
}

.transitionme .transitionme-lighting-color {
    transition-property: lighting-color;
}

.transitionme .transitionme-stop-color {
    transition-property: stop-color;
}

.transitionme .transitionme-stop-opacity {
    transition-property: stop-opacity;
}

.transitionme .transitionme-stroke {
    transition-property: stroke;
}

.transitionme .transitionme-stroke-dasharray {
    transition-property: stroke-dasharray;
}

.transitionme .transitionme-stroke-dashoffset {
    transition-property: stroke-dashoffset;
}

.transitionme .transitionme-stroke-miterlimit {
    transition-property: stroke-miterlimit;
}

.transitionme .transitionme-stroke-opacity {
    transition-property: stroke-opacity;
}

.transitionme .transitionme-stroke-width {
    transition-property: stroke-width;
}

.transitionme .transitionme-viewport-fill {
    transition-property: viewport-fill;
}

.transitionme .transitionme-viewport-fill-opacity {
    transition-property: viewport-fill-opacity;
}

.transitionme .transitionme-background-position {
    transition-property: background-position;
}

.transitionme .transitionme-opacity {
    transition-property: opacity;
}

.transitionme .transitionme-background-image {
    transition-property: background-image;
}

