/* TransitionMe.css v1.0 made by KevSlashNull */

.transitionme {}

.transitionme-ease-in-out {
    transition-timing-function: ease-in-out;
}

.transitionme-ease-out {
    transition-timing-function: ease-out;
}

.transitionme-ease-in {
    transition-timing-function: ease-in;
}

.transitionme-linear {
    transition-timing-function: linear;
}

.transitionme-duration-0_0 {
    transition-duration: 0.0s;
}

.transitionme-duration-0_25 {
    transition-duration: 0.25s;
}

.transitionme-duration-0_5 {
    transition-duration: 0.5s;
}

.transitionme-duration-0_75 {
    transition-duration: 0.75s;
}

.transitionme-duration-1_0 {
    transition-duration: 1.0s;
}

.transitionme-duration-1_25 {
    transition-duration: 1.25s;
}

.transitionme-duration-1_5 {
    transition-duration: 1.5s;
}

.transitionme-duration-1_75 {
    transition-duration: 1.75s;
}

.transitionme-duration-2_0 {
    transition-duration: 2.0s;
}

.transitionme-duration-2_25 {
    transition-duration: 2.25s;
}

.transitionme-duration-2_5 {
    transition-duration: 2.5s;
}

.transitionme-duration-2_75 {
    transition-duration: 2.75s;
}

.transitionme-duration-3_0 {
    transition-duration: 3.0s;
}

.transitionme-duration-3_25 {
    transition-duration: 3.25s;
}

.transitionme-duration-3_5 {
    transition-duration: 3.5s;
}

.transitionme-duration-3_75 {
    transition-duration: 3.75s;
}

.transitionme-duration-4_0 {
    transition-duration: 4.0s;
}

.transitionme-duration-4_25 {
    transition-duration: 4.25s;
}

.transitionme-duration-4_5 {
    transition-duration: 4.5s;
}

.transitionme-duration-4_75 {
    transition-duration: 4.75s;
}

.transitionme-duration-5_0 {
    transition-duration: 5.0s;
}

.transitionme-duration-5_25 {
    transition-duration: 5.25s;
}

.transitionme-duration-5_5 {
    transition-duration: 5.5s;
}

.transitionme-duration-5_75 {
    transition-duration: 5.75s;
}

.transitionme-duration-6_0 {
    transition-duration: 6.0s;
}

.transitionme-duration-6_25 {
    transition-duration: 6.25s;
}

.transitionme-duration-6_5 {
    transition-duration: 6.5s;
}

.transitionme-duration-6_75 {
    transition-duration: 6.75s;
}

.transitionme-duration-7_0 {
    transition-duration: 7.0s;
}

.transitionme-duration-7_25 {
    transition-duration: 7.25s;
}

.transitionme-duration-7_5 {
    transition-duration: 7.5s;
}

.transitionme-duration-7_75 {
    transition-duration: 7.75s;
}

.transitionme-duration-8_0 {
    transition-duration: 8.0s;
}

.transitionme-duration-8_25 {
    transition-duration: 8.25s;
}

.transitionme-duration-8_5 {
    transition-duration: 8.5s;
}

.transitionme-duration-8_75 {
    transition-duration: 8.75s;
}

.transitionme-duration-9_0 {
    transition-duration: 9.0s;
}

.transitionme-duration-9_25 {
    transition-duration: 9.25s;
}

.transitionme-duration-9_5 {
    transition-duration: 9.5s;
}

.transitionme-duration-9_75 {
    transition-duration: 9.75s;
}

.transitionme-delay-0_0 {
    transition-delay: 0.0s;
}

.transitionme-delay-0_25 {
    transition-delay: 0.25s;
}

.transitionme-delay-0_5 {
    transition-delay: 0.5s;
}

.transitionme-delay-0_75 {
    transition-delay: 0.75s;
}

.transitionme-delay-1_0 {
    transition-delay: 1.0s;
}

.transitionme-delay-1_25 {
    transition-delay: 1.25s;
}

.transitionme-delay-1_5 {
    transition-delay: 1.5s;
}

.transitionme-delay-1_75 {
    transition-delay: 1.75s;
}

.transitionme-delay-2_0 {
    transition-delay: 2.0s;
}

.transitionme-delay-2_25 {
    transition-delay: 2.25s;
}

.transitionme-delay-2_5 {
    transition-delay: 2.5s;
}

.transitionme-delay-2_75 {
    transition-delay: 2.75s;
}

.transitionme-delay-3_0 {
    transition-delay: 3.0s;
}

.transitionme-delay-3_25 {
    transition-delay: 3.25s;
}

.transitionme-delay-3_5 {
    transition-delay: 3.5s;
}

.transitionme-delay-3_75 {
    transition-delay: 3.75s;
}

.transitionme-delay-4_0 {
    transition-delay: 4.0s;
}

.transitionme-delay-4_25 {
    transition-delay: 4.25s;
}

.transitionme-delay-4_5 {
    transition-delay: 4.5s;
}

.transitionme-delay-4_75 {
    transition-delay: 4.75s;
}

.transitionme-delay-5_0 {
    transition-delay: 5.0s;
}

.transitionme-delay-5_25 {
    transition-delay: 5.25s;
}

.transitionme-delay-5_5 {
    transition-delay: 5.5s;
}

.transitionme-delay-5_75 {
    transition-delay: 5.75s;
}

.transitionme-delay-6_0 {
    transition-delay: 6.0s;
}

.transitionme-delay-6_25 {
    transition-delay: 6.25s;
}

.transitionme-delay-6_5 {
    transition-delay: 6.5s;
}

.transitionme-delay-6_75 {
    transition-delay: 6.75s;
}

.transitionme-delay-7_0 {
    transition-delay: 7.0s;
}

.transitionme-delay-7_25 {
    transition-delay: 7.25s;
}

.transitionme-delay-7_5 {
    transition-delay: 7.5s;
}

.transitionme-delay-7_75 {
    transition-delay: 7.75s;
}

.transitionme-delay-8_0 {
    transition-delay: 8.0s;
}

.transitionme-delay-8_25 {
    transition-delay: 8.25s;
}

.transitionme-delay-8_5 {
    transition-delay: 8.5s;
}

.transitionme-delay-8_75 {
    transition-delay: 8.75s;
}

.transitionme-delay-9_0 {
    transition-delay: 9.0s;
}

.transitionme-delay-9_25 {
    transition-delay: 9.25s;
}

.transitionme-delay-9_5 {
    transition-delay: 9.5s;
}

.transitionme-delay-9_75 {
    transition-delay: 9.75s;
}

.transitionme-all {
    transition-property: all;
}

.transitionme-color {
    transition-property: color;
}

.transitionme-font-size {
    transition-property: font-size;
}

.transitionme-font-size-adjust {
    transition-property: font-size-adjust;
}

.transitionme-font-stretch {
    transition-property: font-stretch;
}

.transitionme-font-weight {
    transition-property: font-weight;
}

.transitionme-letter-spacing {
    transition-property: letter-spacing;
}

.transitionme-line-height {
    transition-property: line-height;
}

.transitionme-max-lines {
    transition-property: max-lines;
}

.transitionme-text-decoration-color {
    transition-property: text-decoration-color;
}

.transitionme-text-emphasis-color {
    transition-property: text-emphasis-color;
}

.transitionme-text-indent {
    transition-property: text-indent;
}

.transitionme-text-shadow {
    transition-property: text-shadow;
}

.transitionme-text-size-adjust {
    transition-property: text-size-adjust;
}

.transitionme-vertical-align {
    transition-property: vertical-align;
}

.transitionme-word-spacing {
    transition-property: word-spacing;
}

.transitionme-background-color {
    transition-property: background-color;
}

.transitionme-background-image {
    transition-property: background-image;
}

.transitionme-background-position {
    transition-property: background-position;
}

.transitionme-background-size {
    transition-property: background-size;
}

.transitionme-border-top-color {
    transition-property: border-top-color;
}

.transitionme-border-top-right-radius {
    transition-property: border-top-right-radius;
}

.transitionme-border-spacing {
    transition-property: border-spacing;
}

.transitionme-border-top-width {
    transition-property: border-top-width;
}

.transitionme-box-shadow {
    transition-property: box-shadow;
}

.transitionme-clip {
    transition-property: clip;
}

.transitionme-height {
    transition-property: height;
}

.transitionme-min-height {
    transition-property: min-height;
}

.transitionme-max-height {
    transition-property: max-height;
}

.transitionme-margin-top {
    transition-property: margin-top;
}

.transitionme-opacity {
    transition-property: opacity;
}

.transitionme-outline-color {
    transition-property: outline-color;
}

.transitionme-outline-offset {
    transition-property: outline-offset;
}

.transitionme-outline-width {
    transition-property: outline-width;
}

.transitionme-padding-top {
    transition-property: padding-top;
}

.transitionme-width {
    transition-property: width;
}

.transitionme-min-width {
    transition-property: min-width;
}

.transitionme-max-width {
    transition-property: max-width;
}

.transitionme-top {
    transition-property: top;
}

.transitionme-right {
    transition-property: right;
}

.transitionme-bottom {
    transition-property: bottom;
}

.transitionme-left {
    transition-property: left;
}

.transitionme-offset-before {
    transition-property: offset-before;
}

.transitionme-offset-end {
    transition-property: offset-end;
}

.transitionme-offset-after {
    transition-property: offset-after;
}

.transitionme-offset-start {
    transition-property: offset-start;
}

.transitionme-visibility {
    transition-property: visibility;
}

.transitionme-z-index {
    transition-property: z-index;
}

.transitionme-zoom {
    transition-property: zoom;
}

.transitionme-column-count {
    transition-property: column-count;
}

.transitionme-column-gap {
    transition-property: column-gap;
}

.transitionme-column-rule-color {
    transition-property: column-rule-color;
}

.transitionme-column-rule-width {
    transition-property: column-rule-width;
}

.transitionme-column-width {
    transition-property: column-width;
}

.transitionme-flex-grow {
    transition-property: flex-grow;
}

.transitionme-flex-shrink {
    transition-property: flex-shrink;
}

.transitionme-flex-basis {
    transition-property: flex-basis;
}

.transitionme-order {
    transition-property: order;
}

.transitionme-perspective {
    transition-property: perspective;
}

.transitionme-perspective-origin {
    transition-property: perspective-origin;
}

.transitionme-transform {
    transition-property: transform;
}

.transitionme-transform-origin {
    transition-property: transform-origin;
}

.transitionme-fill {
    transition-property: fill;
}

.transitionme-fill-opacity {
    transition-property: fill-opacity;
}

.transitionme-flood-color {
    transition-property: flood-color;
}

.transitionme-lighting-color {
    transition-property: lighting-color;
}

.transitionme-stop-color {
    transition-property: stop-color;
}

.transitionme-stop-opacity {
    transition-property: stop-opacity;
}

.transitionme-stroke {
    transition-property: stroke;
}

.transitionme-stroke-dasharray {
    transition-property: stroke-dasharray;
}

.transitionme-stroke-dashoffset {
    transition-property: stroke-dashoffset;
}

.transitionme-stroke-miterlimit {
    transition-property: stroke-miterlimit;
}

.transitionme-stroke-opacity {
    transition-property: stroke-opacity;
}

.transitionme-stroke-width {
    transition-property: stroke-width;
}

.transitionme-viewport-fill {
    transition-property: viewport-fill;
}

.transitionme-viewport-fill-opacity {
    transition-property: viewport-fill-opacity;
}

.transitionme-background-position {
    transition-property: background-position;
}

.transitionme-opacity {
    transition-property: opacity;
}

.transitionme-background-image {
    transition-property: background-image;
}

